/* Styles go here */



body {
	overflow:hidden;
}

.card-deck {
	display: inline-flex;
	margin: 10px;
}
.container {
	font-family: 'Aref Ruqaa', serif;
}

.header {
	font-family: 'Open Sans', sans-serif;
	line-height: 3vmin;
	font-size: 3vmin;
}
.content {
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
#flashcard {
	width: 90vmin;
	font-size: 16px;
	text-align: center;
	line-height: 55vmin;
	font-size: 55vmin;
}
